:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}
.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom:  var(--border-button);
    outline: none;
    border-radius: 100% 0% 89% 96%;
    border: none;
}


.button:active{
    background-color: rgb(54, 52, 51); 
    
}
.button.double{
    grid-column: 1/4;
    grid-row: 2;
}
.button.triple {
    grid-column: 1/3;
    grid-row: 6
}
.button.operation {
    background-color: #fa8231;
    color: #FFF
}
.button.operation:active{
    background-color: #fa8231cc;
}